<h1>Listing articles</h1>
 
<table border="3" class="table">
  <tr>
    <th>Nama</th>
    <th>Alamat</th>
    <th></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
        <td>
 <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" ><center><%= link_to 'Show', article_path(article) %></a>
    <a class="dropdown-item" ><center><%= link_to 'Edit', edit_article_path(article) %></a>
    <a class="dropdown-item" ><center><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></a>
  </div>
</div>
</td>

         </tr>


  <% end %>

</table>
<a class="btn btn-primary" href="/articles/new" role="button">New Articel</a>
